$background-color: #FFF;
$background-color-selected-navlink: #000;
$background-color-selected-navlink-text: #FFF;
$background-color-navlink-text: #000;
$border-color-table: #DDD;
$border-bottom-color-button-focus: #000;
$border-right-color-button-focus: #FFF;
$border-left-color-button-focus: #FFF;
$border-top-color-button-focus: #FFF;
$background-webkit-scrollbar: #BEBEBE;
$background-webkit-scrollbar-track: #FFF;